@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;900);

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  outline: none;
  border: none;
  background: none;
}
button:focus {
  outline: 0;
}

.app {
  background-color: #f6f8ef;
}
