@import "../../styles/index.scss";

.tinder-cards-container {
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tinder-card-container {
  width: 300px;
  height: 340px;
  margin: 0 auto;
  position: absolute;
  background: $light;
  border: 1px solid $primary;
  border-radius: 18px;
  overflow: hidden;
  padding: 16px 16px 20px;
  display: flex;
  flex-direction: column;
}
.tinder-card-img {
  animation: skeleton-loader ease-in-out 2s infinite;
  height: 0;
  flex-grow: 1;
  border-radius: 16px;
  width: 100%;
  object-fit: cover;
}

.tinder-card-title {
  margin-top: 12px;
  text-align: left;
}

.tinder-card-info {
  color: $secondary;
  & > * {
    font-weight: 600;
    margin-top: 10px;
  }

  &-rating {
    float: left;
    display: flex;
    img {
      margin-left: 2px;
      transform: translateY(-2px);
    }
  }
  &-cost {
    float: right;
  }
}

.tinder-cards-buttons {
  display: flex;
  width: 70%;
  margin: 16px auto;
  justify-content: space-around;
}

.tinder-cards-button {
  border: 2px solid $secondary;
  border-radius: 100%;
  background: $primary;
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
}

@keyframes skeleton-loader {
  0% {
    background-color: rgba(224, 224, 224, 1);
  }
  50% {
    background-color: rgba(224, 224, 224, 0.452);
  }
  100% {
    background-color: rgba(224, 224, 224, 1);
  }
}
